<div class="container">
  <h1> Welcome to {{ title }}!</h1>

  <div class="list-container">
    <div class="todo-container column-container">
      <h2>Tech to learn</h2>
      {{LIST_IDS | json}}
      <div class="list">
        <div cdkDropList #itemList="cdkDropList" [cdkDropListData]="todos" (cdkDropListDropped)="onDrop($event)">
          <mat-card *ngFor="let todo of todos; let i = index" cdkDrag>
            <mat-card-header>
              <mat-card-title>{{todo.name}}</mat-card-title>
              <mat-card-subtitle>{{todo.category}}</mat-card-subtitle>
            </mat-card-header>
            <div>
              <div cdkDropList [attr.id]="addId(todo.Id,i)" [cdkDropListConnectedTo]="LIST_IDS" [cdkDropListData]="todo.nodes"
                (cdkDropListDropped)="onDropSub($event)">
                <mat-card *ngFor="let sub of todo.nodes" cdkDrag>
                  <mat-card-header>
                    <mat-card-title>{{sub.name}}</mat-card-title>
                  </mat-card-header>
                </mat-card>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </div>

  </div>
</div>