.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list-container {
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2em;
}

.column-container {
    width: 600px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
    background-color: RGBA(255, 255, 255, 0.05);
}

.list {
    border: RGBA(46, 49, 49, 0.7) solid 1px;
    border-radius: 2px;
}