<div class="container">
  <h1>{{ title }}!</h1>
  <div class="list-container">
    <div class="column-container">
      <div class="list">
        <div *ngTemplateOutlet="treeparent"> </div>
      </div>
    </div>
  </div>
</div>
<ng-template #treeparent>
  <div id='treeparent'>
    <ejs-treeview id='treeelement' [fields]='field' [allowMultiSelection]='allowMultiSelection'
      [allowDragAndDrop]='allowDragAndDrop' (dataSourceChanged)='dataSourceChanged($event)'
      (nodeDragStop)='dragStop($event)' (nodeDragging)='nodeDrag($event)'>
    </ejs-treeview>
  </div>
</ng-template>